[GLOBAL]
LOGIC_CORE_PATH=/usr/lib/aarch64-linux-gnu/svxlink
LOGICS=SimplexLogic,ReflectorLogic
LINKS=ReflectorLink
CFG_DIR=svxlink.d
TIMESTAMP_FORMAT="%c"
CARD_SAMPLE_RATE=48000

[SimplexLogic]
TYPE=Simplex
RX=Rx1
TX=Tx1
CALLSIGN=NOCALL
MODULES=
DTMF_CTRL_PTY=/dev/shm/sqlink_dtmf
DEFAULT_LANG=en_US

EVENT_HANDLER=/usr/share/svxlink/events.tcl
[ReflectorLogic]
TYPE=Reflector
HOSTS=sqlink.pl
HOST_PORT=5300
CALLSIGN=NOCALL
AUTH_KEY=
DEFAULT_TG=0
MONITOR_TGS=
TG_SELECT_TIMEOUT=30
ANNOUNCE_REMOTE_MIN_INTERVAL=300
EVENT_HANDLER=/usr/share/svxlink/events.tcl
NODE_INFO_FILE=/etc/svxlink/node_info.json
QSY_PENDING_TIMEOUT=15

[ReflectorLink]
CONNECT_LOGICS=SimplexLogic:9:SQLink,ReflectorLogic
DEFAULT_ACTIVE=1

[Rx1]
TYPE=Local
AUDIO_DEV=alsa:pipewire
AUDIO_CHANNEL=0
SQL_DET=GPIO
GPIO_SQL_PIN=!gpio536
SQL_START_DELAY=0
SQL_DELAY=0
SQL_HANGTIME=0
SQL_TIMEOUT=0
VOX_FILTER_DEPTH=20
VOX_THRESH=1000
SIGLEV_DET=NONE

[Tx1]
TYPE=Local
AUDIO_DEV=alsa:pipewire
AUDIO_CHANNEL=0
PTT_TYPE=NONE
